
/* style  */

.logo-mobile {
    display: none;
}
  
.principal {

    background-color: white;
    max-width: 900px;
    border-radius: 10px;
    margin: auto;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    
    height: 100%;
    padding: 0px;

    margin-top: 150px;
}
@media screen and (max-width: 767px) { 
    .logo-mobile {
        display: block;
        width: 100%;
        margin-top: 40px;
        height: 40px;
        text-align: center;
    }
    .principal {
        /* background-color:rgba(255, 255, 255, 0.7); */
        background-color:rgba(255, 255, 255, 0.78);
        margin-top: 25px;        
    }  
  }

  

/* @media (min-width:767px) { 
    .principal { 
        background-color: yellow;
    }
  
} */

.principal-row {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    
   }
   

/*---- caja 01 - form ----*/
.col-01-desktop {

        
    /* background-color: pink; */
    border-radius: 10px 0 0 10px;
    width: 45%;
    height: 100%;

    padding: 30px 40px 20px 40px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

   }
   @media screen and (max-width: 767px) { 
    .col-01-desktop {
        width: 100%;
    }  
  }

.col-01-desktop h3 {
    /* background-color: aqua; */
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 5px 0 5px 0;
}

.col-01-desktop p {
    /* background-color: blueviolet; */
    margin: 0px;
    padding: 4px 0 4px 0;
}

.form-body {
    padding: 5px 0 10px 0;
}

.form-file {
    /* background-color: yellow; */
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;    
    /* justify-content: center; */
    align-items: center;
}
.form-file-code {
    /* background-color: yellow; */
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    margin: 0 30px 10px 30px;
    
}
.form-file-celular {
    /* background-color: yellow; */
    padding: 8px 0 8px 0;
    display: none;
}
.opt-code-label {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.opt-code-label-02 {
    display: none;
        
}
.form-file-email {
    /* background-color: yellow; */
    padding: 8px 0 8px 0;
    display: none;
}

.form-text {
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #323232;
    width: 100%;
    height: 40px;

    font-size: 14px;

    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.form-text-code {
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #2f80ed;
    width: 100%;
    height: 50px;

    font-size: 22px;
    text-align: center;

    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.form-text:focus {
    outline: none !important;
    border:1px solid #0080B0;
    /* box-shadow: 0 0 10px #719ECE; */
}
.form-text-code:focus {
    outline: none !important;
    border:1px solid #0080B0;
    /* box-shadow: 0 0 10px #719ECE; */
}

.text-link {
    text-decoration: none;
    display: flex; 
}

.form-file-link {
    /* background-color: pink; */
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    
}


.btn {
    background-color: #004769;
    color: white !important;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    gap: 10px;

    width: 100%;
    height: 45px;


    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.social {
    /* background-color: aqua;     */
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 30px;

    
}

.social p {
    /* background-color: aqua;     */
    color: #8191A4;
    font-size: 14px;;
       
}

.social-01 {
    padding-right: 15px;
}

.msg-adv {
    display: flex;
}

/*---- caja 02 - images ----*/
.col-02-desktop {
    
    display: block;
    border-radius: 0 10px 10px 0;

    background-image: url("../img/back-col-02-01.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    width: 55%;
    height: 500px;

   }
.col-02-desktop-recuperar {
    
    display: block;
    border-radius: 0 10px 10px 0;

    background-image: url("../img/back-col-02-02.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    width: 55%;
    height: 500px;

   }

.logo {
    /* background-color: pink; */
    width: 100%;
    margin-top: 40px;
    height: 45px;
}

.img-logo {
    margin-left: 40px;
    height: 100%;
    /* width: 100%; */
}

.copy {
    color: white;
}


.text-demo {
    color: #CCCCCC;
}


.recover-datos {
    background-color: white;
    color: #0080B0;
    border: 1px solid #cccccc;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 34px;;
    margin-bottom: 15px;
    margin-top: 55px;

}

.recover-it {
    
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 13px;

    display: flex;
    
}

.recover-it-01 {
    background-color: #68B945;
    color: white;
    border-radius: 5px 0 0 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 110px;
    height: 34px;
}
.recover-it-02 {
    background-color: white;
    
    border-radius: 0 5px 5px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;    
    height: 34px;
}

input[type="radio"] {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    
    /* color: #00A7B5; */
    /* accent-color: #00A7B5; */
}

@media screen and (max-width: 767px) { 
    .col-02-desktop {
        display: none;
    }  
    .col-02-desktop-recuperar {
        display: none;
    }  
    
    .img-logo {
        margin-left: 0px;        
    }
  }
